*, :before, :after {
  box-sizing: border-box;
}


html {
  overflow-x: hidden;

}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Rounded Mplus 1c', sans-serif;

}

main {
  flex-grow: 1;
}

html.overflow-hidden {
  overflow: hidden;
}


header {
  .header-menu {
    position: absolute;
    top: 40px;
    right: 180px;
    z-index: 10;
    @media (max-width: 1024px) {
      right: 90px;
    } @media (max-width: 600px) {
    right: 50px;
  }

    img {
      width: 34px;
      height: 32px;
      cursor: pointer;
    }

    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 5;
      right: 0;
      top: 0;
      background: #FFFFFF;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
      overflow-x: hidden;
      transition: 0.2s;
      &.open {
        width: 25%;
        @media (max-width: 1100px) {
          width: 40%;
        }
        @media (max-width: 679px) {
          width: 100%;
        }
      }


      .menu-header-menu-container {
        text-align: right;
        #menu-header-menu {
          list-style: none;
          gap: 40px;
          padding-top: 50px;
          text-align: right;
          @media (max-width: 1100px) {
            padding-left: 0;
          }
          .menu-item-has-children {
            .sub-menu {
              display: none;
            }
            &.active {
              .sub-menu {
                display: block;
              }
            }
          }

          @media (max-width: 759px) {
            gap: 20px;
          }
          @media (max-width: 600px) {
            gap: 10px;
          }

          li {
            list-style: none;
            @media (max-width: 712px) {
              padding-left: 0;
            }

            a {
              font-family: 'Rounded Mplus 1c', sans-serif;
              font-weight: 500;
              font-size: 20px;
              line-height: 25px;
              color: #000000;
              padding: 8px;
              text-decoration: none;
              width: 100%;
              text-transform: uppercase;
              display: flex;
              text-align: center;
              justify-content: center;
              margin: 0 auto;
              transition: .3s;
              @media (max-width: 500px) {
                display: flex;
                text-align: center;
                justify-content: center;
                width: 100%;
              }
              &:hover {
                color: #0c6ca0;
              }
            }
          }
        }
      }

      .closebtn {
        position: absolute;
        top: 0px;
        right: 45px;
        font-size: 50px;
        text-decoration: none;
        color: #1B5FC1;
        transition: 0.3s linear;
        @media (max-width: 1100px) {
          right: 10px;
        }

        @media (max-width: 350px) {
          top: 0;
          right: 20px;
        }
      }
    }
  }
}













